@tailwind base;
@tailwind components;
@tailwind utilities;

.default-focus {
	@apply focus:outline-none focus:ring focus:ring-primary-500 focus:ring-offset-4 dark:ring-offset-gray-900;
}
.default-transition {
	@apply transition duration-300 ease-in-out motion-reduce:transition-none;
}
