@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-100
}

.defaultTransition {
    transition: all .3s;
}

.animatedPress {
    @apply defaultTransition;
    transform: scale(1.0);
}
.animatedPress:hover {
    transform: scale(1.025);
}
.animatedPress:active {
    transform: scale(0.975);
}

