@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-100
}

.defaultTransition {
    transition: all .3s;
}

.animatedPress {
    @apply defaultTransition;
    transform: scale(1.0);
}
.animatedPress:hover {
    transform: scale(1.025);
}
.animatedPress:active {
    transform: scale(0.975);
}


.text { 
  position: relative;
  display: inline-block;
  font-family: Monaco, Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-size: 24px;
}

.text::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  display: inline-block;
  @apply bg-gray-400;
  vertical-align: top;
  width: 10px;
  height: 24px;

  /* 
  Animation paramaters:
  blink = animation-name, 
  1s = animation-duration, 
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
