---
import Layout from '~/layouts/Document.layout.astro';
import { Counter } from '~/components/Counter';
---

<Layout title="nuro" titleSuffix=" ─ developer">
	<main>
		<h1>Homepage</h1>
		<Counter client:load />
	</main>
</Layout>
