---
import Document from '~/layouts/Document.astro';
---

<Document>
	<main class="flex min-h-screen items-center justify-center py-12">
		<div class="flex flex-col space-y-3">
			<h1 class="text-3xl font-extrabold text-white">Hello World</h1>
		</div>
	</main>
</Document>
