---
import Layout from './Document.layout.astro';

import type { Post } from '~/types';

export interface Props {
	frontmatter: Post;
}

const { frontmatter } = Astro.props as Props;
const title = typeof frontmatter.title === 'string' ? frontmatter.title : frontmatter.title.text;
---

<Layout title={title} description={frontmatter.description}>
	<main>
		<article>
			<slot />
		</article>
	</main>
</Layout>
